<header id="top-header">
  <picture>
    <img src="/images/logo-what.jpeg" alt="logo">
  </picture>
  <form action="">
    <input type="text" placeholder="Busca lo que deseas">
  </form>
  <p>Log in</p>
</header>