<nav class="primary-nav">
    <ul>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Categorías</a></li>
        <li><a href="">Foro de Preguntas</a></li>
        <li><a href="">Contactanos</a></li>
        <li><a href="">Soporte</a></li>
    </ul>
</nav>
