<div class="firstVisit"></div>
<div class="hero-banner">
    <picture>
        <img src="../images/hero-img.jpg" alt="This is the hero banner">
    </picture>
    <h3>Tenemos muchas promociones cada mes!</h3>
</div>
<div class="categorias">
    <h1>Mira los productos por categoría</h1>
</div>
<div class="comentarios">
</div>
<div class="faqDiv">
    <h1>FAQ</h1>
    <section class="faq">
        <ul>
            <li><a href="">¿Cómo agregar mis productos y promocionarlos?</a></li>
            <li><a href="">¿Tiene un costo registrarme?</a></li>
            <li><a href="">¿Cómo envio una proforma a mis clientes?</a></li>
            <li><a href="">¿Cómo puedo tener más alcanze y vender más?</a></li>
        </ul>
    </section>
</div>
<script src="../js/productsAPI.js"></script>
<script src="../js/commentsAPI.js"></script>
<script src="../js/localstorage.js"></script>

